---
// You can pass the page identifier as a prop if needed
const { pageId } = Astro.props;
---

<div class="commentbox">
</div>

<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>

<style>
  .commentbox {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(var(--color-border));
  }

</style> 